@*@{
    ViewData["Title"] = "Index";
}
<div>
    <div>
        <div class="row">

            <div class="col-md-3 mb-3 col-sm-3">
                <div class="card" style="height:10rem;">
                    <h6 class="card-header ">CO₂ AVOIDANCE</h6>
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-4 " style="text-align:start">
                                <img src="~/img/leaf.svg" class="img-fluid rounded-start " alt="AVOIDANCE">
                            </div>
                            <div class="col-8 " style="text-align:end">
                                
                                <div class="mt-2" style="line-height:20%">
                                    <p class="fw-bold text-black">448 kg<br/></p><sup class="text-black">today</sup>
                                </div>
                                <div class="mt-4" style="line-height:20%">
                                    <p class="fw-bold text-black">71.62 <sub>†</sub></><br /></p><sup class="text-black">total</sup>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3 col-sm-3">
                <div class="card" style="height:10rem;">
                    <h6 class="card-header ">SOLAR IRRADIATION</h6>
                    <div class="card-body">
                        <div class="row g-0 " style="display:flex;align-items:center;">
                            <div class="col-4 " style="text-align:start" >
                                <img src="~/img/sensor_insolation.svg" class="img-fluid " alt="AVOIDANCE" width="60px"height="60px">
                            </div>
                            <div class="col-8 ">
                                <div style="line-height:20%; text-align:end">
                                    <p class="fw-bold text-black ">845 w/m<sup>2</sup><br /></p><sup class="text-black ">today</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 mb-3 col-sm-3">
                <div class="card" style="height:10rem;">
                    <h6 class="card-header ">MODULE TEMPERATURE</h6>
                    <div class="card-body">
                        <div class="row g-0 " style="display:flex;align-items:center;">
                            <div class="col-4 " style="text-align:start">
                                <img src="~/img/sensor_module_temperature.svg" class="img-fluid " alt="AVOIDANCE" width="60px" height="60px">
                            </div>
                            <div class="col-8 ">
                                <div style="line-height:20%; text-align:end;">
                                    <p class="text-black" style="font-size:25px; font-weight:bold;">48.8 <small>°C</small><br /></p><sup class="text-black ">Module Temperature</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3 col-sm-3">
                <div class="card" style="height:10rem;">
                    <h6 class="card-header ">WEATHER</h6>
                    <div class="card-body">
                        <div class="row g-0 " style="display:flex;align-items:center;">
                            <div class="col-4 " style="text-align:start">
                                <img src="~/img/801D.png" class="img-fluid " alt="AVOIDANCE" width="60px" height="60px">
                            </div>
                            <div class="col-8 ">
                                <div style="line-height:20%; text-align:end">
                                    <p class="fw-bold text-black ">845 w/m<sup>2</sup><br /></p><sup class="text-black ">today</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


</div>





*@